#title {
  color: rgb(168, 11, 11);
  text-align: center;
  font-family: papyrus;
  background-color: black;
}
#name {
  font-family: Comic Sans MS;
  text-align: center;
}
#pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* .app{
    background-color: rgb(255, 203, 154);
} */
.adress {
  text-align: center;
  font-family: comic Sans MS;
}
